.App {
  text-align: center;
}

.App-intro {
  font-size: large;
}

.Main {
  position: fixed;
  box-sizing: border-box;
  /*padding: 0px 16px;*/
  padding: 0px 0px;
  float: left;
  width: calc(100vw - 200px);
  height: calc(100vh - 64px);
  background-color: white;
  overflow-y: auto;
  left: 200px;
}

@media screen and (min-width: 336px) {
  .Main {
    width: 100vw;
  }
}

@media screen and (min-width: 528px) {
  .Main {
    width: calc(100vw - 200px);
  }
}

@media (min-width: 584px) {
  .Main {
    width: calc(100vw - 200px);
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 1.3rem;
  font-weight: 300; }
h1 { font-size: 2.4rem; line-height: 0.9;  letter-spacing: -.1rem;}
h2 { font-size: 1.6rem; line-height: 0.9; letter-spacing: -.08rem; }
h3 { font-size: 1.2rem; line-height: 1.0;  letter-spacing: -.05rem; }
h4 { font-size: 1.0rem; line-height: 1.1; letter-spacing: 0rem; }
h5 { font-size: 0.8rem; line-height: 1.2;  letter-spacing: 0.05rem; }
h6 { font-size: 0.6rem; line-height: 1.2;  letter-spacing: 0.08rem; }

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #dedede;
}

select {
  height: 28px;
  min-width: 64px;
  text-align: center;
  font-family: arial;
  font-size: 11px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

select:focus {
  border: 1px solid #33C3F0;
  outline: 0;
}
