.Header {
  position: relative;
  background-color: #a2e6f9;
  height: 64px;
  width: 100vw;
  padding: 0px;
}


.logo {
  animation: logo-spin infinite 20s linear;
  height: 56px;
  padding: 4px;
  margin-left: calc(50% - 236px);
}

.hbbk-logo {
  position: relative;
  display: inline-block;
  float: right;
}

.hbbk-title {
  position: relative;
  display: inline-block;
  float: left;
  font-size: 16px;
  padding: 6px;
  color: #124454;
}

@keyframes logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
