.InputField span.title {
  display: inline-block;
  width: 100px;
  margin-top: 4px;
  font-size: 13px;
  text-align: left;
  color: black;
}

.InputField input.input {
  background-color: white!important;
  padding: 0px 10px 5px 10px!important;
  margin-bottom: 0;
  font-size: 12px;
  width: 150px;
  border: none!important;
  border-radius: 0px!important;
  border-bottom: 2px solid #aaa !important;
}

.InputField input.input:focus {
  border-bottom: 2px solid black !important;
  outline: none;
}

.InputField span.error {
  color: red;
  display: inline-block;
  height: 12px;
  width: 170px;
  font-size: 10px;
  padding-left: 112px;
  text-align: center;
}
