.MonthView {
  padding: 0px 16px;
}

.MonthView table {
  border-spacing: 0;
  width: calc(7 * 48px);
}

.MonthView table tbody tr th {
  width: 48px;
  height: 48px;
}

.MonthView table tbody tr td {
  width: 48px;
  height: 48px;
  border: 0px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-spacing: 0;
}

.MonthView table tbody tr td:first-child {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.MonthView table tbody tr:nth-child(2) td {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 336px) {
  .MonthView table {
    width: 100vw;
  }
  .MonthView table tbody tr td, .MonthView table tbody tr td {
    width: 48px;
    height: 48px;
  }
}

@media screen and (min-width: 528px) {
  .MonthView table {
    width: calc(7 * 48px);
  }
  .MonthView table tbody tr td, .MonthView table tbody tr td {
    width: 48px;
    height: 48px;
  }
}

@media screen and (min-width: 528px) {
  .MonthView table {
    width: calc(7 * 48px)
  }
}

@media (min-width: 584px) {
  .MonthView table {
    width: calc(7 * 56px);
  }
  .MonthView table tbody tr td, .MonthView table tbody tr td {
    width: 56px;
    height: 56px;
  }
}

@media (min-width: 640px) {
  .MonthView table {
    width: calc(7 * 64px);
  }
  .MonthView table tbody tr td, .MonthView table tbody tr td {
    width: 64px;
    height: 64px;
  }
}

@media (min-width: 752px) {
  .MonthView table {
    width: calc(7 * 80px);
  }
  .MonthView table tbody tr td, .MonthView table tbody tr td {
    width: 80px;
    height: 80px;
  }
}

@media (min-width: 864px) {
  .MonthView table {
    width: calc(7 * 96px);
  }
  .MonthView table tbody tr td, .MonthView table tbody tr td {
    width: 96px;
    height: 96px;
  }
}
