.settings {
  text-align: left;
  padding-right: calc(16px + 5%);
  padding-left: 16px;
  padding-bottom: 24px;
}

.settings .title {
  padding: 24px 5% 8px 5%;
  margin-bottom: 8px;
  text-align: left;
}

.settings .title-hr {
  width: 95%;
  position: relative;
  left: 2.5%;
  margin-top: 16px;
  margin-bottom: 16px;
}

.settings .title-small {
  padding: 4px 16px 4px 5%;
  margin-bottom: 8px;
}

.settings span {
  display: inline-block;
  padding-left: 7%;
  font-size: 14px;
  margin-top: 8px;
  font-weight: 300;
}

.settings ul {
  list-style: circle inside;
  margin-top: 0px;
}

.settings li {
  font-weight: 300;
  font-size: 14px;
  line-height: 19px; /* am liebsten wäre das mir mit na geraden Zahl -.-*/
}
