.SideBar {
  position: relative;
  float: left;
  width: 200px;
  height: calc(100vh - 64px);
  text-align: left;
  background-color: #47656d;
}

.SideBar .title {
height: 48px;
background-color: #3c565d!important;
}

.SideBar .item {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  line-height: 48px;
  padding-left: 12px;
  font-size: 16px;
  display: block;
  color: white;
  background-color: #47656d;
  text-decoration: none;
}

.SideBar .item:hover {
  filter: brightness(80%);
}

.SideBar .item.no_hover:hover {
  filter: none;
}

.SideBar .active {
  background-color: #37474F!important;
}

.SideBar .active:hover {
  filter: brightness(80%);
}

@media screen and (min-width: 336px) {
  .SideBar {
    display: none;
  }
}

@media screen and (min-width: 528px) {
  .SideBar {
    display: inherit;
  }
}

@media (min-width: 584px) {
  .SideBar {
    display: inherit;
  }
}

.SideBar i.material-icons {
  position: relative;
  display: inline-block;
  top: 6px;
  margin-right: 8px;
}
