.Terminal {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  font-family: 'Menlo', 'Inconsolata', monospace;
}

.Terminal.headless {
  border-radius: 0px;
}

.Terminal .header {
  padding: 5px 7px 0;
}

.Terminal.headless .header {
  display: none;
}


/*.Terminal .body { background-color: #fff; color: #5D5D5D; }
.Terminal .header { background-color: #eee; }
.Terminal .prefix { color: #bd081c; }*/


.Terminal .body { background-color: #000; color: #d0d0d0; }
.Terminal .header { background-color: #dcdbdb; }
.Terminal .prefix { color: #5b65fb; }

.Terminal .header .circle {
  border-radius: 50%;
  display: inline-block;
  height: 12px;
  width: 12px;
  margin-right: 5px;
}

.Terminal .header .circle-red {
  background-color: #bf616a;
}

.Terminal .header .circle-yellow {
  background-color: #ebcb8b;
}

.Terminal .header .circle-green {
  background-color: #a3be8c;
}

.Terminal .body {
  flex-grow: 1;
  overflow-y: scroll;
  padding: 10px;
}

.Terminal .form {
  display: flex;
}

.Terminal .body .input {
  background-color: inherit;
  border: none;
  padding: 0;
  color: inherit;
  flex-grow: 1;
  font-family: inherit;
  font-size: inherit;
  outline: none!important;
}

.Terminal .form .prefix {
  margin-right: 8px;
}
